/* My Fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Varela+Round&display=swap');

/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Varela Round', sans-serif;
*/                                                            

/* Root */

:root {
  --bg: #C79626;
  --color: #23427E;
}

/* My Styles */

body {
  font-family: 'Roboto', sans-serif;
}

/* Navbar */
nav {
  box-shadow: 1px 1px 3px #222;
}

.list-unstyled a {
  color: #23427E;
}

.list-unstyled a:hover {
  color: #C79626;
}

.list-unstyled a::after {
  content: "";
  display: block;
  border-bottom: 2px solid #C79626  ;
  padding-bottom: 2px;
  transform: scaleX(0);
  transition: .3s;
}

.list-unstyled a:hover::after {
  transform: scaleX(0.7);
}


/* Home */

#home {
  background: rgba(0, 0, 0, 0.3);
}

#home::after {
  content: "";
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  background-image: url(../img/42786.jpg);
  background-position: center;
  background-size: cover;
  filter: blur(5px);
  z-index: -3;
}

/* Home Page */
#home .btn a {
  color: white;
}


/* About */

#about {
  height: 105vh;
}

/* Services */

#services {
  height: 100vh;
  margin-bottom: 20;
  width: 100;
}

/* COD */
#cod {
  height: 100vh;
  width: 100%;
  margin-bottom: 50;
}


/* Contact */
@media (max-width:768px) {
  html {
    font-size: 662.5;
  }
}

#contact {
  width: 100%;
  height: 100vh;
  margin-top: 0;
}

.contact h2 {
  margin-top: 10%;
}


.contact .row {
  display: flex;
  height: 60vh;
  width: 100%;
  background-color: #222;
  flex-wrap: wrap;
  border-radius: 10px;
  margin-top: 9%;
}


.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  height: 438px; 
  object-fit: cover;
}


.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: .2rem;
  border: 1px solid #222;
  padding-left: 2rem;
}


.contact .row form .input-group input {
  width: 100%;
  padding: 1rem;
  font-size: 1.7rem;
  background: none;
  color: #fff;
}


.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: .5rem;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
}

.contact .row form .btn {
  box-shadow: 2 2 2 50px;
}
                          
.contact h2 {
  text-align: center;
  margin-top: 60rem;
}

.contact .btn {
  background-color: #C79626; 
  color: #fff; 
}

.contact .btn:hover {
  background-color: #2980b9;
}

